<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">



    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>main.java.action.PageInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MaxPageServlet</servlet-name>
        <servlet-class>main.java.action.QueryNumOfPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaxPageServlet</servlet-name>
        <url-pattern>/maxPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userLoginServlet</servlet-name>
        <servlet-class>main.java.action.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLoginServlet</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readBlogServlet</servlet-name>
        <servlet-class>main.java.action.readBlogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readBlogServlet</servlet-name>
        <url-pattern>/readBlog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>writeBlogServlet</servlet-name>
        <servlet-class>main.java.action.writeBlogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>writeBlogServlet</servlet-name>
        <url-pattern>/contentPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userRegistServlet</servlet-name>
        <servlet-class>main.java.action.UserRegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRegistServlet</servlet-name>
        <url-pattern>/userregist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>favorOperationServlet</servlet-name>
        <servlet-class>main.java.action.favorOperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>favorOperationServlet</servlet-name>
        <url-pattern>/favorOperation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>isFavorServlet</servlet-name>
        <servlet-class>main.java.action.isFavorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isFavorServlet</servlet-name>
        <url-pattern>/isFavor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readFavoriteServlet</servlet-name>
        <servlet-class>main.java.action.ReadFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readFavoriteServlet</servlet-name>
        <url-pattern>/readFavorite</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>main.java.action.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/imageUpload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readMyPostServlet</servlet-name>
        <servlet-class>main.java.action.readMyPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readMyPostServlet</servlet-name>
        <url-pattern>/readMyPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>commentDealerServlet</servlet-name>
        <servlet-class>main.java.action.CommentDealerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commentDealerServlet</servlet-name>
        <url-pattern>/commentDealer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getCommentsServlet</servlet-name>
        <servlet-class>main.java.action.GetCommentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCommentsServlet</servlet-name>
        <url-pattern>/getComments</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StarIncreServlet</servlet-name>
        <servlet-class>main.java.action.StarIncreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarIncreServlet</servlet-name>
        <url-pattern>/starIncre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HisInfoServlet</servlet-name>
        <servlet-class>main.java.action.HisInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HisInfoServlet</servlet-name>
        <url-pattern>/hisinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveReplyServlet</servlet-name>
        <servlet-class>main.java.action.SaveReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveReplyServlet</servlet-name>
        <url-pattern>/saveReply</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IsNewReplyServlet</servlet-name>
        <servlet-class>main.java.action.IsNewReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsNewReplyServlet</servlet-name>
        <url-pattern>/isNewReply</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>main.java.action.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


</web-app>